*{
    color: white;
    font-family: sans-serif;
}

body {
    background-color: rgb(152, 230, 152);
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    height: 100vh;
}

h1{
    margin-top:0%;
}

.name{
    box-sizing: border-box;
    margin-left: 30px;
}

.row {
    display: grid;
    grid-template-rows: 1fr;
    box-sizing: border-box;
}

.row:nth-child(2) {
    grid-template-columns: 3fr 5fr 3fr;
}

.cell {
    box-sizing: border-box;
}

.stats{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    border-left-style: solid;
    padding-left: 10px;
    border-width: 1px;
}

.stat{
    font-size: 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(55, 55, 55);
    border-radius: 8px;
    padding: 6px;
    

}

.measures{

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: start;
    margin-left: 70px;
    margin-bottom: 280px;
    gap: 0.5em;
}

.region{
    display: flex;
    box-sizing: border-box;
    align-items: end;
}

.kanto{
    margin-bottom: 70px;
    transform: rotate(-90deg);
}

.japanese{
    color: black;
    font-size: 100px;
    position: relative ;
    bottom: 480px; 
    right: 170px;
    opacity: 0.3;
    font-weight: bolder;

}

.battle-inf{
    box-sizing: border-box;
    margin-top: 125px;
    margin-left: 340px;
}